*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    background-image: url("background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat ;
    display: flex;
    flex-wrap: wrap;
}
.container{
    width: 100%;
    height: 130vh;
    background-image: url("background.jpg");
    background-position: center;
    background-size: cover;
    padding: 0 7%;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}
nav{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;  
    grid-column-start: 1;
    grid-column-end: 3;
}
nav .logo{
    width: 50px;
    cursor: pointer;
}
nav ul{
    flex: 1;
}
nav ul li{
    list-style: none;
    display: inline-block;
    justify-content:space-between;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}
nav ul li a:hover{
    color: rgb(140, 49, 137); ;
}
nav .btn{
    color: #fff;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 30px;
}
nav .btn:hover{
    color: #fff;
    background-color: rgb(140, 49, 137);
}
.content{
    margin-top: 2.5%;
    grid-column-start: 1;
    grid-column-end: 2;
}
.content h1{
    font-size: 88px;
    margin-bottom: 15px ;
}
.content h1 span{
    color: rgb(140, 57, 137);
}
.content p{
    line-height: 22px;
    font-size: 14px;
}
.content .btn{
    display: inline-block;
    margin-top: 30px;
    background: rgb(140, 49, 137);
    color: #fff;
    text-decoration: none;
    padding: 15px;
    border-radius: 30px;
}
.th1{
    cursor: pointer;
}
.coin-list{
    width: 500px;
    height: 80px;
    background: transparent;
    position:static;
    bottom: 10px;
    align-items: left;
    display: flex;
}
fieldset{
    background: rgba(51, 20, 113, 0.703);
}

.coin-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    margin: 0 25px;
    color:#fff;
    padding: 10px 10px;
    border-radius: 8px; 
}
.coin-2{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0 25px;
    color:#fff;
    padding: 10px 10px;
    border-radius: 8px; 
}
.coin-3{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0 25px;
    color:#fff;
    padding: 10px 10px;
    border-radius: 8px; 
}

.coin-1 img{
    background: transparent;
    width: 30px;
    margin-right: 20px;
}
.coin-2 img{
    width: 30px;
    margin-right: 20px;
}
.coin-3 img{
    width: 30px;
    margin-right: 20px;
}
.coin h3{
    color: #fff;
    margin-bottom: 5px;
} 
table,th{
    border: 1px solid white;
    border-collapse: collapse;
    margin: 10px;
    padding: 15px;
    background: rgba(51, 20, 113, 0.703);
}
button{
    background: rgba(51, 20, 113, 0.703); 
    border: 1px solid rgba(51, 20, 113, 0.703);
    color: #fff;
}
.form{
    height: 78%;
    width: 70%;
    border: 1px solid white;
    border-radius: 5px;
    padding: 25px;
    padding-right: 15px;
    margin-left: 17%;
    background: rgba(69, 48, 143, 0.756) ;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="submit"]
{
    border: 2px solid white;
    border-radius: 5px;
    width: 90%;
    height: justify;
    padding: 10px;
    margin: 18px;
    font:#fff;
    background:rgb(221, 223, 233)
}
input[type="submit"]:hover{
    background: rgba(140, 49, 137, 0.805);;
}
@media (max-width:1024px ) {
    .content h1{
        font-size: 88px;
        margin-bottom: 15px ;
    }
}
@media (max-width:770px ) {
    .container{
        grid-gap:50px;
    }
    .content h1{
        font-size: 45px;
        margin-bottom: 7px ;
    }
    table,th{
        margin: 5px;
        padding: 5px;
    }
    .form{
        height: 80%;
        width: 85%;
        border: 1px solid white;
        border-radius: 5px;
    }
}
@media (max-width:430px) {
    .content h1{
        font-size: 55px;
        margin-bottom:0;
        padding: 25px;
    }
    .content p{
        padding:0 25px;
    }
    .content .btn{
        margin: 15px;
    }
    body{
        display:inline-block;
    }
    .container{
        display: inline;
    }
    .form{
        height: 95%;
        width: 80%;
        border: 1px solid white;
        border-radius: 5px;
        margin: 40px;
    }
    table,th{
        top: 10px;
        padding: 25px;
        margin-left: 25px;
        margin: 15px;
    }
    nav .logo{
        width: 25px;
    }
    nav ul li{
        list-style: none;
        display:initial;
        margin: 5px;
        padding: 5px;
    
    }
    .coin-list{
        bottom: 10px;
    }

    nav .btn{
        margin: 25px;
    }
    nav ul li a{
        font-size: 10px;
    }
}